<p id="notice"><%= notice %></p>

<h1>
  <%= @tournament.name %>
</h1>

<% if @tournament.signup? %>

  <h2>
    Players
    <%= render 'players/index' %>
  </h2>

  <%= link_to "Sign Up", new_tournament_player_path(@tournament.id) %>

<% elsif @tournament.teams_created? %>

  <h2>Teams</h2>
  <%= render 'teams/index' %>
<% end %>
